<div id="login">
    <h3 class="text-center text-white pt-5" style="color: darkslategray;">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="change-password" class="form" action="/change-password" method="post">
                        {{#if locals.message}}
                        <p>no user</p>
                        {{/if}}

                        <h3 class="text-center " style="color: darkslategray;">Enter Your New Password</h3>
                        <div class="form-group">
                            <label for="username" class="" style="color: darkslategray;">New Password:</label><br>
                            <input type="password" name="password" id="password1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" style="color: darkslategray;" class="">Confirm Password:</label><br>
                            <input type="password" name="confirmPassword" id="password2" class="form-control">
                            <input type="texdt" name="userId" value="{{userId}}" hidden>

                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"></label><br>
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right mb-3">
                            <a href="/signup"><span>Don't have account ? Signup.</span></a> <a href="/google"><i
                                    class="fa fa-google" aria-hidden="true"></i></a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/scripts/jquery-2.2.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="/scripts/scripts/bootstrap.js"></script>