<div class="container">
<div class="card">
  <div class="card-header text-danger">
   Payment failed
  </div>
  <div class="card-body">
    <h5 class="card-title text-danger">Payment has failed due to some issues</h5>
    <p class="card-text"></p>
    <a href="/cart" class="btn btn-primary">Go to Cart Page now to Try again</a>
  </div>
</div>
</div>;