<div id="login">
    <h3 class="text-center text-white pt-5" style="color: darkslategray;">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="forgot-password" class="form">
                        {{#if locals.message}}
                        <p>no user</p>
                        {{/if}}
                        <a id="no-account" class="text-danger" style="visibility: hidden;"> No Account found</a>
                        <h3 class="text-center " style="color: darkslategray;">Forgot Password</h3>
                        <div class="form-group">
                            <label for="username" class="" style="color: darkslategray;">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="remember-me" class="text-info"></label><br>
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right mb-3">

                        </div>

                    </form>
                    <div class="form mb-5 mt-5" id="forgot-link" style="visibility: hidden;">
                        <h1>A link has send to Your Email.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/scripts/jquery-2.2.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="/scripts/scripts/bootstrap.js"></script>
<script>
    $('#forgot-password').validate({
        rules: {
            email: {
                required: true
            }
        },
        submitHandler: (form, e) => {
            e.preventDefault()
            $.ajax({
                url: '/forgot-password',
                method: 'post',
                data: $('#forgot-password').serialize(),
                success: (res) => {
                    if (res.status) {
                           $("#forgot-password").remove();
                        
                        document.getElementById('forgot-link').style.visibility = 'visible'
                        document.getElementById('no-account').style.visibility = 'hidden'
                     

                    }
                    else {
                        document.getElementById('no-account').style.visibility = 'visible'
                    }


                }
            })
        }
    })
</script>
