<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form id="login-form" class="form" action="/otp" method="post">

                    <h3 class="text-center " style="color: darkslategray;">otp</h3>
                    <div class="form-group">
                        <label for="username" class="" style="color: darkslategray;">otp:</label><br>
                        <input type="text" name="otp" id="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="remember-me" class="text-info"></label><br>
                        <input type="submit" name="submit" class="btn btn-dark btn-md" value="submit">
                    </div>
                    <div id="register-link" class="text-right mb-3">
                        <a href="/signup"><span>Don't have account ? Signup.</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/scripts/jquery-2.2.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="/scripts/scripts/bootstrap.js"></script>
<script>
		function checkPhone() {

			var phone = document.getElementById('phonenum').value
			var error = false
			console.log(phone)
			$.ajax({
				url: "/check",
				data: { phone: phone },
				method: 'POST',
				success: (response) => {
					if (response.status) {
						document.getElementById('otp-div').style.visibility = "visible"
						document.getElementById('phonenum').style.visibility = "hidden"
						error = false
					}
					else {
						document.getElementById('err').innerHTML = "In valid error"
						error = true


					}
				}
			})
		}
	

	

	</script>
