<div class="container">
<div class="card">
  <div class="card-header">
   Successful order
  </div>
  <div class="card-body">
    <h5 class="card-title">Your orders has been placed</h5>
    <p class="card-text">Checkout your orders now .</p>
    <a href="/orders" class="btn btn-primary">Go to orders Page </a>
  </div>
</div>
</div>;